
.social {
    margin-left: 70px;
}

 .contacts-footer {
    padding-left: 0;
 }

.contacts-footer__link {
    color: var(--secondary-text-color);
    
    line-height: 1.71;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}

.contacts-footer__address {
    margin-top: 20px;

    color: var(--primary-bg-color);
    
    line-height: 1.71;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
    color: var(--accent-color);
}
}

.contacts-footer__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.contacts-footer__item {
    &:first-child {
        margin-top: 20px;
    }
}