.features {
    padding-top: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
}

// .features-list {
//     padding-left: 0;
// }

.features-list__item {
    // width: 270px;
    margin-right: 30px;
    --webkit-box: none;


    &:last-child{
        margin-right: 0;
    }

    &::before {
        content: " ";
        display: block;
        width: 270px;
        height: 120px;
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
        margin-bottom: 30px;
    
        background-repeat: no-repeat;
        background-position: center;
        
    }
}

.features-list {
    &__icon-antenna::before {
        background-image: url(../images/antenna.svg);
    }

    &__icon-clock::before {
        background-image: url(../images/clock.svg);
    }

    &__icon-diagram::before {
        background-image: url(../images/diagram.svg);
    }

    &__icon-astronaut::before {
        background-image: url(../images/astronaut.svg);
    }
}

.features-list__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-list__text {
    margin-bottom: 0;
    margin-top: 0;

    line-height: 1.71;
}